@media print
{
  @page {
    size: A4;
  }

  body {
    font-size: 12pt;
    padding: 0;
  }

  img.avatar {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }

  .main .time {
    float: right;
    color: black !important;
    -webkit-print-color-adjust: exact;
  }

  footer {
    display: none;
  }

  .skills-list .skill-bar-inner {
    background-color: gray !important;
    -webkit-print-color-adjust: exact;
  }

}