@media (max-width: 767px) {

  body{
    padding: 0;
  }

  header .profile-avatar {
    margin-bottom: 20px;
  }

  main .column-wrapper {
    width: inherit!important;
    padding: 0;
  }

  main .section {
    margin-bottom: 40px!important;
  }

  .right-wrapper {
    .section:last-child {
      margin-bottom: 0!important;
    }
  }

  main .time {
    position: static!important;
    display: block;
    margin-top: 5px;
  }

  main .item-first-row {
    margin-bottom: 0;
  }

}

@media (min-width: 768px) {

  body{
    padding: 0;
  }

}

@media (min-width: 992px) {

  body{
    padding: 30px;
  }

}

@media (min-width: 1200px) {

}
